<div class="header">
<div class="menu-top">
    <div class="grid">
        <div class="grid-left"><a href="https://th.hm.com/th_en/customer-service.html">Customer Service  </a><a href="">  ...</a></div>
        <div class="grid-right">
            <ul>
                <li><a href="">My H&M</a></li>
                <li><a href="">Sign In/Join</a></li>
                <li><a href="">English</a></li>
                <li><a href=""><b><i class="las la-heart"></i>Favorites</b></a></li>
                <li><a href=""><b><i class="las la-shopping-bag"></i>Shopping bag</b></a></li>
            </ul>
        </div>
    </div>
</div>
<div class="middle">
    <div class='logo'>
        <img src="/assets/images/hmlogo.png" alt="logo">
    </div>
</div>
<div class="menu-bottom">
    <div class='three-grid'>
        <div></div>
        <div class="menu">
            <ul>
                <li><a href="">LADIES</a></li>
                <li><a href="">MEN</a></li>
                <li><a href="">DIVIDED</a></li>
                <li><a href="">KIDS</a></li>
                <li><a href="">SALE</a></li>
                <li><a href="">#HMxME</a></li>
            </ul>
        </div>
        <div class="search">
            <input type="text" name="" id="" value="Search Products">
            <button><i class="las la-search"></i></button>
        </div>
    </div>
</div>
</div>