
.center {
    text-align: center;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 10%;
    left: 40%;
    margin-top: -50px;
    margin-left: -100px;
}
.box {
    background-color: #ffffff;
    width: 500px;
    height: 650px;
    border-radius: 1px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);

}
.box h2 {
    color: #39458A;
    padding-top: 10px;
    font-size: 15px;
}
.task {
    margin-left: 12px;
    width: 95%;
    height: 250px;
    overflow: auto;
}
.space {
    width: 100%;
    height: 30px;
}
.box-form {
    margin-left: 12px;
    height: 250px;
    width: 95%;
    background-color: white;
    border-radius: 10px;
}
.box-form h3 {
    color: #39458A;
    font-size: 15px;
    padding-top: 10px;
    margin-bottom: 30px;
}
.form {
    color:#39458A;
    text-align: right;
    padding-right: 140px;
}
input {
    background-color: #F2F4F9;
    border: none;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 10px;
    font-size: 15px;

}
.form {
    margin-bottom: 50px;
}
button {
    width: 140px;
    height: 45px;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}
  
button:hover {
    background-color: #2EE59D;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-5px);
}
.box-detail {
    text-align: left;
    margin-left: 12px;
    height: 250px;
    width: 95%;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}
.head {
    padding-top: 10px;
    padding-left: 10px;
    font-size: 15px;
    font-weight: 300;
    color: #39458A;
}
.detailed {
    color: black;
    font-size: 15px;
    font-weight: 700;
}
