
<div class="center" (clickOutside)="unSelected()">
    <div class="box">
        <h2>TO DO LISTS</h2>
        <div class="task">
            <app-task
            *ngFor="let task of tasks"
            [task]="task"
            (OnDeleted)="deleteTask($event)"
            (OnSelected)="showDetail($event)"></app-task>
        </div>
        <div class="space"></div>
        <div *ngIf="isSelected == false" class="box-form">
            <h3>ADD TASK</h3>
            <div class="form">
                <label>Name: </label>
                <input type="text" [(ngModel)]="name"><br>
                <label>Description: </label>
                <input type="text" [(ngModel)]="description">
            </div>
            <button (click)="addTask()">ADD</button>
        </div>
        <div *ngIf="isSelected == true" class="box-detail">
            <h3 class="head">TASK:  <span class="detailed">{{ name }}</span></h3>
            <h3 class="head">DESCRIPTION:  <span class="detailed">{{ description }}</span></h3>
        </div>
    </div>
</div>
