<div class="footer">
    <div class="inner-footer">
        <div class="grid">
            <div>
                <ul><b>SHOP</b><br><br>
                    <li><a href="">Ladies</a></li>
                    <li><a href="">Men</a></li>
                    <li><a href="">Divided</a></li>
                    <li><a href="">Kids</a></li>
                </ul>
            </div>
            <div>
                <ul><b>CORPORATE INFO</b><br><br>
                    <li><a href="">Career at H&M</a></li>
                    <li><a href="">About H&M group</a></li>
                    <li><a href="">Sustainability</a></li>
                    <li><a href="">Press</a></li>
                    <li><a href="">Investor Relations</a></li>
                    <li><a href="">Corporate Governance</a></li>
                </ul>
            </div>
            <div>
                <ul><b>HELP</b><br><br>
                    <li><a href="">Customer Service</a></li>
                    <li><a href="">My H&M</a></li>
                    <li><a href="">Store Locator</a></li>
                    <li><a href="">Legal & Privacy</a></li>
                    <li><a href="">Contact</a></li>
                </ul>
            </div>
            <div>
                <ul><b>My H&M</b><br><br>
                    <li>Sign up now and get the latest and hottest news fashion from H&M.</li>
                    <li><Button>SIGN UP</Button></li>
                </ul>
            </div>
        </div>
        <div class="social">
            <ul>
                <li><a href=""><i class="lab la-facebook-square"></i></a></li>
                <li><a href=""><i class="lab la-line"></i></a></li>
                <li><a href=""><i class="lab la-twitter"></i></a></li>
                <li><a href=""><i class="lab la-instagram"></i></a></li>
                <li><a href=""><i class="lab la-youtube"></i></a></li>
            </ul>
        </div>
        <div class="text">
            <p>H&M's business concept is to offer fashion and quality at the best price in a sustainable way. H&M has since it was <br>founded in 1947 grown into one of the world's leading fashion companies. The content of this site is copyright-<br>protected and is the property of H&M Hennes & Mauritz AB.</p>
        </div>
        <div class="logo">
            <div class="box">
                <img src="./assets/images/hmlogo.png" alt="logo">
            </div>
        </div>
        <div class="last">
            <p><a href="">Thailand</a> | ฿</p>
        </div>
    </div>
</div>
