<div class="main">
    <div class="blog">
        <div class="topic">
            <h1>MAGAZINE</h1>
            <p>READ H&M MAGAZINE</p>
        </div>
        <div class="img-grid">
            <div></div>
            <div class="img">
                <img src="https://d29c1z66frfv6c.cloudfront.net/pub/media/banner/3x2-1163-Aida-Magazine-3.jpg" alt="blog">
            </div>
            <div></div>
            <div class="img">
                <img src="https://d29c1z66frfv6c.cloudfront.net/pub/media/banner/1688x1126_en_gen.jpg" alt="blog">
            </div>
            <div></div>
            <div class="img">
                <img src="https://d29c1z66frfv6c.cloudfront.net/pub/media/banner/Magazine-Images-1688x1126-3.jpg" alt="blog">
            </div>
            <div></div>
        </div>
        <div class="text-grid">
            <div></div>
            <div class="text">
                <h4>INSIDE H&M</h4>
                <h3>Announcing Brock Collection x H&M collaboration</h3>
                <p>Read The Story<i class="las la-arrow-right"></i></p>
            </div>
            <div></div>
            <div class="text">
                <h4>INSIDE H&M</h4>
                <h3>Calling on today’s real role models: kids</h3>
                <p>Read The Story<i class="las la-arrow-right"></i></p>
            </div>
            <div></div>
            <div class="text">
                <h4>INSIDE H&M</h4>
                <h3>Sustainability collaboration with Maisie Williams</h3>
                <p>Read The Story<i class="las la-arrow-right"></i></p>
            </div>
            <div></div>
        </div>
    </div>
</div>
