<div class="banner">
    <div class="inner-banner">
        <div>
            <h2>Treat yourself to great prices.<i class="las la-grin-beam"></i></h2>
        </div>
        <div>
            <h1>Fashion treats from ฿200!<br>+free delivery</h1>
        </div>
        <div>
            <p>Valid on selected items until 08.06.2021, online & in-store</p>
        </div>
        <div class="menu">
            <ul>
                <li><a href=""> LADIES</a></li>
                <li><a href="">  MEN  </a></li>
                <li><a href="">DIVIDED</a></li>
                <li><a href=""> KIDS </a></li>
            </ul>
        </div>
    </div>
</div>
