<div class="main">
    <div class="collection-one">
        <div class="container">
            <img src="https://d29c1z66frfv6c.cloudfront.net/pub/media/catalog/product/zoom/e671a03cb615d4043641858fd05c7f1802d8ad37_xxl-1.jpg" alt="model">
            <h2>New: Summertime staples</h2>
            <p>The sun-ready essentials we adore</p>
            <button>SHOP NOW</button>
        </div>
    </div>
    <div class="collection-two">
        <div class="grid">
            <div class="grid-container">
                <img src="https://d29c1z66frfv6c.cloudfront.net/pub/media/catalog/product/zoom/8fe4746941645b1667675516ab899ed64d2e552a_xxl-1.jpg" alt="model">
                <h2>DIETER BRAUN X H&M</h2>
                <p>Exploring the future of sustainable</p>
                <button>SHOP NOW</button>
            </div>
            <div></div>
            <div class="grid-container">
                <img src="https://d29c1z66frfv6c.cloudfront.net/pub/media/catalog/product/zoom/e5a7ee5b47a74f97355bd468ebccf7a9a4b7ae1e_xxl-1.jpg" alt="model">
                <h2>DIETER BRAUN X H&M</h2>
                <p>Exploring the future of babywear with more<br> sustainable materials</p>
                <button>SHOP NOW</button>
            </div>
        </div>
    </div>
    <div>
        <div></div>
        <div></div>
    </div>
</div>
